@use "../variables/colors.scss" as *;
@use "../variables/fonts.scss" as *;

.section {
  width: 100%;
  background-color: $background-section;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  max-width: 1000px;
  padding: 0 2rem;
  margin: 0 auto;
  width: 100%;
}
