@use "../variables/colors.scss" as *;
@use "../variables/fonts.scss" as *;

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  max-width: 950px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .text-block {
    max-width: 600px;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  .avatar {
    width: 300px;
    height: auto;
    border-radius: 50%;
  }
}
.header {
  display: block;
  width: 100%;

  .menu-button {
    position: fixed;
    top: 2rem;
    right: 14rem;
    background: none;
    border: none;
    color: $text-pink;
    font-size: $small-text;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    transition: color 0.3s ease;
    z-index: 1000;
    letter-spacing: 1px;

    &:hover {
      color: lighten($text-pink, 15%);
    }
  }
}
.scroll-down-arrow {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  color: $text-pink;
  animation: fadePulse 2.5s ease-in-out infinite;
  user-select: none;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  background-color: none;
}

@keyframes fadePulse {
  0%,
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  50% {
    opacity: 0.3;
    transform: translateX(-50%) translateY(5px);
  }
}
